@import "reset.scss";
@import "_partials/_typography";
@import "_partials/_variables";
@import "_partials/_functions";
@import "_partials/_mixin";
@import "_partials/_animations";
@import "bootstrap-5.2.3/bootstrap.scss";
@import "_partials/_controls";



body {
    background: $jet-black;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
    color: white;
    line-height: 1.1;
}

section {
    margin: 120px 0;

    @media screen and (max-width: 800px) {
        margin: 80px 0;
    }
}

li {
    list-style: none;
}

.heading-wrapper {
    .section-heading {
        font-size: 48px;
        color: white;
        line-height: 1.1;

        @media screen and (max-width: 800px) {
            font-size: 32px;
        }
    }

    .underline {
        width: 100px;
        height: 5px;
        background-color: $primary-color-varient;
    }
}


hr {
    color: white;
    background: white
}

  










@import "./locals/menu-component.scss";
@import "./locals/banner-component.scss";
@import "./locals/cta-btn.scss";
@import "./locals/services-section.scss";
@import "./locals/home.scss";
@import "./locals/cta-banner-component.scss";
@import "./locals/previous-works-component.scss";
@import "./locals/embla.scss";
@import "./locals/download-catelogue.scss";
@import "./locals/footer.scss";

